

body{
 background-color: #BE3422;
 
}
.link{
  display: flex;
  gap: 35px;
  margin-top: 20px;
  margin-left: 300px;
  

}
a:link,a:visited,nav{
color: black;
font-size: 18px;
font-family: 'Times New Roman', Times, serif;
text-decoration: none;

background-color: white;
padding: 12px;

}
.link a:hover{
  background-color: blue;
 transition: 0.5s;
 transform: scale(1);
 padding: 20px;
}

h1{
  color: white;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  margin-left: 70px;
 
 margin-top: 150px;
}
h2{
 color: navy;
 font-weight: 10px;
 font-size: 20px;
}
h4{
  color: black;
 font-size: 15px;
 height: 15px;
 width: 100%;
}

.word{
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
    margin-bottom: 30px;
    width: 45%;
    margin-left: 70px;
}

.oriki{
 background-image: url(oriki\ man7.pics.png);
 background-repeat: no-repeat;
  background-size: contain;
  height: 438px;
  width: 52%;
  opacity: 0.85;
  margin: 50px;
  text-align: left;
  padding-top: 30px;
 
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: navy;
  margin-left: 300px;

}

.card{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-width: 450px;
  height: 110px;
  gap: -50px;
  padding: 8px;
  border-radius: 5px;
 justify-content: space-around;
    margin-top: 80px;
  
    
}

.card2{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-width: 450px;
  height: 110px;
  gap: -20px;
  padding: 8px;
  border-radius: 5px;
 justify-content: space-around;
    margin-top: 10px;

}
.card-btn a a:hover{
   background-color: blue;
 transition: 0.3s;
 transform: scale(1.1);

}

.card-btn{

  margin-top: 50px;
}

.card-btn a:hover{
  background-color: greenyellow;
 transition: 0.5s;
 transform: scale(1);
 padding: 20px;
}

.card-btn a {
   background-color: transparent;
   color: #000;
   border: 1px solid #000;
   font-size: 20px;
   padding: 12px;
   border-radius: 4px;
   text-decoration: none;
   width: 60px;
   text-align: center;


}


.jump{
  
display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-right: 300px;
  color: black;
  
}

.jump a:hover{
  background-color: yellow;
 transition: 0.5s;
 transform: scale(1);
 padding: 20px;
}

/* ✅ Make the entire layout responsive */
@media (max-width: 1024px) {

  .link {
    margin-left: 50px;
    gap: 15px;
  }

  h1 {
    font-size: 30px;
    margin-left: 40px;
  }

  .word {
    font-size: 20px;
    width: 60%;
    margin-left: 40px;
  }

  .oriki {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
  }
}


/* ✅ Tablet and smaller screens */
@media (max-width: 768px) {

  .link {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 10px;
  }

  h1 {
    font-size: 26px;
    margin-left: 20px;
  }

  .word {
    font-size: 18px;
    width: 80%;
    margin-left: 20px;
  }

  .oriki {
    width: 90%;
    height: 350px;
    background-size: cover;
    margin-left: 20px;
  }

  /* Stack cards vertically */
  .card, .card2 {
    flex-direction: column;
    height: auto;
    width: 90%;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;

  

  }

  .card-btn {
    margin-left: 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}


/* ✅ Smartphones (small phones like itel, Tecno etc.) */
@media (max-width: 480px) {

  body {
    text-align: center;
  }

  .link {
    margin-left: 0;
    align-items: center;
  }

  h1 {
    font-size: 22px;
    margin-left: 0;
    text-align: center;
  }

  .word {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    text-align: center;
  }

  .oriki {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-position: center;
  }

  .card, .card2 {
    width: 100%;
  }

  .jump {
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
  }
}











