body{
   border: 3px solid black;
  background-color: bisque;
}


h1{
 text-align: center;
 font-size: 20px;
 font-weight: 20px;
 font-family: 'Times New Roman', Times, serif;

background: linear-gradient(orange,white);
padding: 15px;
}
h2{
 text-align: center;
 font-size: 30px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h3{
  text-align:center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 30px;
}
h4{
   text-align: center;
 font-size: 30px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h5{
  text-align:center;
 font-size: 30px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

} 
.history{
 border: 2px solid white;
 background-color: white;
 color: black;
 padding: 10px;

}
.history2{

 color: black;
 padding: 10px;

}
.history3{

 color: black;
  padding: 10px;

}
.history4{

 color: black;
 padding: 10px;

}
.container{

  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
  gap: 20px;
  margin-top: 120px;

}
a:link,a:visited,nav{
color: black;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
text-decoration: none;

background-color: white;
padding: 10px;


}

.jump{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  color: black

}