body{
 background-color:#D99172 ;
 border: 3px solid white;
}
h1{
 font-size: 20px;
 color: #9C4F47;
 text-align: center;
 border: 2px solid white;
 background-color: white;
 padding: 15px;
  margin-right: 150px;
   margin-left: 70px;
}
h2{

 font-size: 20px;
 color: #9C4F47;
 text-align: center;
 border: 2px solid white;
 background-color: white;
 margin-right: 130px;  
padding: 10px;
}
ul{
 color: white;

}

@media screen {
   
}