 body{
 background-color:darkgray;
 text-align: left;
 opacity: 1;
 border-radius: 10px;
 
 width: 80%;
 margin-left: 12px;
 padding: 10px;
 padding-right: 40px;
padding-left: 10px;
  }
h1{
  color: white;
  background-color: red;
  text-align: center; 
  font-size: 25px;
  padding: 15px;
  margin-left: 15px;
}
h2{
  color: white;
  background-color: red;
   text-align: center; 
  font-size: 25px;
  padding: 15px;
  margin-left: 15px;
}


table{
 border-collapse: collapse;

}
td,th{
 border: 4px solid whitesmoke;
padding: 10px;
text-align: center;
color: black;

}










