body{
 background-color:#C0A586;
 border: 3px solid white;
}
h1{
 font-size: 20px;
 color: #D47962;
 text-align: center;
 border: 2px solid white;
 background-color: white;
 padding: 30px;
  margin-right: 70px;
   margin-left: 70px;
}
h2{

 font-size: 20px;
 color: #D47962;
 text-align: center;
 border: 2px solid white;
 background-color: white;
 padding: 20px;
 margin-right: 70px;  
 margin-left: 70px;
}